.row.summarized-item
  .col-md-12
    .row
      .col-md-1
        .upvoteControls
          = link_to upvote_item_path(item), remote: true, method: :post do
            = fa_icon "thumbs-o-up", class: "fa-lg"
          = item.upvotes
      .col-md-11
        %h4
          = link_to item.title, item.url
          %span.url
            (#{item.url_preview})
    .row.addendum
      .col-md-11.col-md-offset-1
        %span
          Submitted by #{item.username}
        %span
          = link_to item_comments_path(item) do
            = pluralize(item.comments_count, "comment")
