!!!
%html
  %head
    %title DapperNews
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    %header
      %nav.navbar.navbar-default(role="navigation")
        .navbar-header
          %a.navbar-brand
            = fa_icon "sun-o", text: "DapperNews"
        .collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li
              %a(href="#")
                = fa_icon "plus", text: "New Item"
          %p.navbar-text.navbar-right
            "Oh you're so dapper!"

    .container
      = yield
