!!!
%html
  %head
    %title DapperNews
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    %header
      %nav.navbar.navbar-default(role="navigation")
        .navbar-header
          = link_to root_path, class: "navbar-brand" do
            = fa_icon "sun-o", text: "DapperNews"
        .collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li
              = link_to new_item_path do
                = fa_icon "plus", text: "New Item"
          %p.navbar-text.navbar-right
            "Oh you're so dapper!"

    .container
      = yield
